body {
    font-family: 'Lato', sans-serif !important;
}

.login-btn {
    background-color: #5469D4 !important;
    border-color: #5469D4 !important;
    color: white !important;
}

.logout-btn {
    background-color:white !important;
    border-color:#d4dae0 !important;
    color: #CD3D56 !important;
}

.login-btn:hover,
.login-btn:focus,
.login-btn:active {
  background-color: #5469D4 !important;
  border-color: #5469D4 !important;
  color: white !important;
}

.logout-btn:hover,
.logout-btn:focus,
.logout-btn:active {
  background-color: white !important;
  border-color: #d4dae0 !important;
  color: #CD3D56 !important;
}

.jwt-box {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    background-color: #f8f9fa;
    /* Bootstrap light */
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    max-width: 100%;
    overflow-x: auto;
}